.draggable {
  /* width: 25%;
  min-height: 6.5em; 
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  */
  margin: 1rem 0 0 1rem;
  padding: 4%;
  touch-action: none;
  user-select: none;
}
