.dropzone {
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 400px;
  height: 400px;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  position: absolute;
  z-index: 999;
  padding: 1px;
  margin: 1px;
  touch-action: none;
  transform: translate(0px, 0px);
  width: 60px;
  height: 40px;
}
